/*use # for id, us . for class*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    }

.toprow, .top, .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.toprow{
    flex-direction: column;
}

.top {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e0e0e0;
    gap: 20x
}

.topLHS, .topRHS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom {
    background-color: #c0c0c0;
}

.inline-container{
    display: flex;
    align-items: center;
}

button {
    padding: 10px 20x;
    margin-top: 10px;
}


#inputSentence {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

/*math selection input boxes*/
.mathSelections {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.operatorSelections {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}